<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add User</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
  body {
    background-color: #f8f9fa;
    color: #333;
  }
  .form-control {
    background-color: #f1f3f5;
    color: #333;
    border-color: #ced4da;
  }
  .form-control:focus {
    background-color: #e9ecef;
    border-color: #ced4da;
    box-shadow: none;
  }
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
</style>
<body>
<div class="container mt-5">
  <h2>Add User</h2>
  <form th:action="@{/customer/update/{id}(id=${data.id})}" method="post">
    <div class="form-group">
      <label>Name:</label>
      <input type="text" class="form-control" name="name" th:value="${data.name}">
    </div>
    <div style="color:red;" th:if="${errors != null and errors[name] != null}" th:value="${data.name}">
      <span th:text="${errors[name]}"> </span>
    </div>
    <div class="form-group">
      <label>email:</label>
      <input type="text" class="form-control" name="email" th:value="${data.email}">
    </div>
    <div style="color:red;" th:if="${errors != null and errors[email] != null}" th:valua="${data.email}">
      <span th:text="${errors[email]}"></span>
    </div>
    <label >Select User:</label>
    <select class="form-control" name="user_id" required>
      <option th:each="x: ${dataUser}" th:value="${x.id}"
              th:text="${x.name}"
              th:selected="${data.user.id== x.id}"
              th:if="${x.trangthai == 1}"></option>
    </select>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
