<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trang chủ QLKH</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
        rel="stylesheet"> <!-- Thêm font chữ Roboto -->
</head>
<body>
<div class="container my-5">
  <div class="jumbotron">
    <h1 class="display-4">Chào mừng đến với QLKH</h1>
    <p class="lead">Đây là ứng dụng quản lý khách hàng của bạn.</p>
    <hr class="my-4">
    <p>Hãy lựa chọn chức năng bạn muốn sử dụng:</p>
    <div class="d-flex justify-content-center">
      <a href="/customer/list" class="btn btn-primary btn-lg mr-3">Quản lý Khách Hàng</a>
      <a href="/user/list" class="btn btn-primary btn-lg">Quản lý Người Dùng</a>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>